LLM_API_KEY=replace_me
LLM_BASE_URL=https://open.bigmodel.cn/api/paas/v4/
LLM_MODEL=glm-5.1
VISION_API_KEY=replace_me
VISION_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
VISION_MODEL=qwen3.6-plus
APP_PORT=8000
